th,
td,
table {
    border: 1px black solid;
    padding: 10px;
    margin-top: 5%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.main {
    display: flex;
    gap: 10px;
    flex-direction: column;
}

label{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex;
    justify-content: center;
}

button{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(255, 255, 255);
    border-radius: 10px;
    padding: 10px 20px;
    margin: 10px 0px;
    cursor: pointer;
    font-size: 20px;
}

.table{
    display: flex;
    justify-content: center;
}